*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main{
    padding-left: 40px;
    padding-right:40px;
}

header{
    padding-left: 40px;
    padding-right:40px;
    padding-top: 15px;
    background-color: #EDFAFB;
}

/* header section  */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 90px;
    width: 90px;
}

.nav-option{
  margin-right: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #147d83;
  position: relative;
}
.nav-option:hover , .sign-in-up:hover{
    color: #34C9B6;
}

.nav-option::before , .sign-in-up::before{
    content: '';
    height: 2px;
    width: 0;
    background-color:#34C9B6;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    transition: all 700ms;
}
.nav-option:hover::before , .sign-in-up:hover::before{
    width: 100%;
}

.sign-in-up{
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    font-size: 16px;
    color: #147d83;
    position: relative;
    transition: all 700ms;
}

.content h2{
    max-width: 600px;
    font-size: 30px;
    margin-top: 40px;
}

.content p{
    max-width: 600px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.header-content img{
    height: 350px;
    width: 400px;
}

/* main section start  */

.all-specialist-card , .millions-customer , .chat-boat , .private-secure{
    width: 280px;
}
.vector-img{
    height: 200px;
    width: 200px;
}
.trust-us{
    text-align: center;
    margin-top: 30px;
    
}
.trust-us h2{
    margin-bottom: 20px;
}
.trust-card{
    display: flex;
    justify-content: space-between;
}
.trust-us h3{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.trust-us p{
    text-align: justify;
    font-size: 12px;
    font-weight: 300;
}

/* good services & better health  */

.service-health{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.service-health-img img{
    height: 200px;
    width: 250px;
    border-radius: 10px 25px 10px 25px;
}
.img1{
    margin-top: 40px;
}
.img2{
    position: relative;
    right: 250px;
}

.service-health-content{
    width: 600px;

}
.service-health-content h2{
    margin-bottom: 30px;
    text-align: left;
}
.service-health-content p{
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
.service-health-content button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#19A1AA,#0a4144e1);
    color: azure;
    /* margin-left: 150px; */
    transition: all 700ms;
}

.service-health-content button:hover{
    background-image: linear-gradient(45deg,#0cb3be,#046166e1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.1);
}

/* Our Services */
.our-service-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.services{
    display: flex;
    justify-content: space-evenly;
}
.services img{
    height: 120px;
    width: 150px;
    /* text-align: center;
    display: block; */
}
.services span{
    font-size: 15px;
    font-weight: 500;
    display: block;
    text-align: center;
}
.services-list{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Meet Our Specialist */

.our-specialist-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.our-specialist-card img{
    height:200px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.our-specialist-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 10px;
    transition: all 500ms;
    /* text-align: center; */
}
.our-specialist-card .dr-name{
    /* padding-top: 20px; */
    display: inline-block;
    margin-top: 15px;
    padding-left: 20px;
    font-weight: 500;
}
.our-specialist-card .dr-info{
    display: inline-block;
    margin-top: 5px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 14px;
}
.our-specialist-card .rating{
    color: gold;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
}
.our-specialist-card a{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #0B4F47;
    color: aliceblue;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    left: 140px;
    font-size: 14px;
    font-weight: 500;
    transition: all 400ms;
    text-decoration: none;
}
.card-list{
    display: flex;
    justify-content: space-evenly;
}
.our-specialist-card a:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(45deg,#1FD4BF,#17A695,#0B4F47);
}
.our-specialist-card:hover{
    transform: scale(1.1);
}

/* Testimonial  */

.testimonial-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.testimonial-card img{
    height: 200px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.testimonial-card{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.testimonial-content h4{
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
}
.testimonial-content p{
    font-size: 12px;
    font-weight: 300;
    padding-left: 40px;
    margin-top: 10px;
    text-align: justify;
    padding-right: 10px;
}
.testimonial-content a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #0c7a6e;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    /* padding-top: 20px; */
    left: 170px;
    /* transition: all 700ms; */
}
.testimonial-content a:hover{
    font-weight: 600;
}
.testimonial-content a::before{
    content: '';
    height: 2px;
    width: 0;
    background-color: #0c7a6e;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    transition: all 600ms;
}
.testimonial-content a:hover::before{
    width: 100%;
}
.feedback{
    display: flex;
    justify-content: space-evenly;
}

/* About us  */
.about-us-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.about-us-content{
    width: 600px;
    text-align: center;
    position: relative;
    left: 330px;
    font-size: 14px;
    /* font-weight: 300; */
}
.about-us-description{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 40px; */
}
.about-us-description h4{
    text-align: center;
    color: #0B4F47;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;

}
.about-us-description p{
    text-align: center;
    font-size: 13px;
   
}
.about-us-description img{
    height: 400px;
    /* position: relative;
    top: -30px; */
}
.about-us-description .image{
    height: fit-content;
}
.our-mission , .our-commitment{
    position: relative;
    top: 80px;
    height: fit-content;
    width: 350px;
}

/* Article & Health Tips  */

.article-title h2{
    text-align: center;
    /* font-size: 20px; */
    margin-top: 20px;
    margin-bottom: 30px;
}
.article-content{
    width: 650px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}
.article-card{
    width: 350px;
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article-card img{
    height: 250px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article-card .fa-solid{
    font-size: 13px;
    padding-right: 4px;
    color: #34C9B6;
}
.article-card h3{
    font-size: 15px;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.article-card .date, .comment{
    font-size: 11px;
}
.article-card p{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 10px;
}
.article-card .comment{
    position: relative;
    left: 160px;
    top: 7px;
}
.article-card .date{
    position: relative;
    left: 15px;
    top: 7px;
}
.article-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.article-card a{
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    margin-top: 30px;
    position: relative;
    left: 260px;
    color: #17A695;
}
.article-card a::before{
    content: '';
    height: 2px;
    width: 0;
    background-color:#17A695 ;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    transition: all 600ms;
}
.article-card a:hover{
    font-weight: 600;
}
.article-card a:hover:before{
    width: 100%;
}
/* Book appointment */

.appointment-content{
    display: flex;
    justify-content: space-around;
}
.appointment-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.appointment-content .form{
    margin-top: 50px;
}
.appointment-content #name,#num,#address,#dr-name{
    height: 40px;
    width: 300px;
    border-radius: 9px;
    background-color: rgb(235, 235, 235);
    /* box-shadow: rgba(245, 245, 245, 0.2) 0px 2px 8px 0px; */
    margin-bottom: 20px;
    border: none;
    outline: none;
}
.appointment-content input::placeholder{
    padding-left: 10px;
    color: rgba(128, 128, 128, 0.651);
    font-size: 12px;
}
.appointment-content #date,#time{
    margin-bottom: 20px;
    margin-right: 10px;
}
.appointment-content h5{
    margin-bottom: 10px;
}
.appointment-content #home,#hospital{
    margin-bottom: 10px;
}
.appointment-content button{
    /* text-align: center;
    display: inline-block; */
    height: 35px;
    width: 140px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-image:linear-gradient(45deg,#19A1AA 40%,#0A4144) ;
    color: aliceblue;
    position: relative;
    left: 100px;
    top: 20px;
}

/* Footer  */
footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    background-color: #EDFAFB;
}
footer .logo img{
    margin-top: 120px;
    height: 100px;
    width: 100px;
}
footer .links a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    margin-top: 25px;
}
footer .social-media h5{
    font-size: 17px;
    font-weight: 600;
    margin-top: 130px;
    position: relative;
    left: 29px;
}
footer .social-media i{
    position: relative;
    /* left: 10px; */
    margin-top: 20px;
    margin-right: 20px;
    font-size: 22px;
}

footer .subscribers{
    position: relative;
    top: 80px;
    width: 300px;
}
footer .subscribers h3{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
footer .subscribers h6{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
footer .subscribers input{
    height: 35px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
footer .subscribers input::placeholder{
    padding-left: 10px;
    color: rgb(207, 206, 206);
}
footer .subscribers button{
    margin-top: 40px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    color: aliceblue;
    background-color: #257A80;
    position: relative;
    left: 80px;
}
.copyright{
    /* text-align: center; */
    height: 70px;
    background-color: #257A81;
    color: aliceblue;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

